/* Main Styles */

@import url('./global/variables.css');
@import url('./global/reset.css');
@import url('./global/typography.css');
@import url('./global/utilities.css');
@import url('./global/animations.css');

@import url('./components/navbar.css');
@import url('./components/footer.css');

:root {

    /* IARC Inspired Institutional Palette */

    --primary: #1E7FB8;
    --primary-dark: #166A98;

    --accent: #930140;

    --soft-accent: #FFD0B4;

    --white: #FFFFFF;

    --light-bg: #F7F8FA;

    --text: #000000;

    --border: #D9DDE3;

    /* Shadows */

    --shadow-sm: 0 4px 10px rgba(0, 0, 0, 0.05);

    --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.08);

    --shadow-lg: 0 15px 35px rgba(0, 0, 0, 0.12);

}